div#contentWrap {
    background-color: white;
    box-shadow: 0px 0px 4px 0px var(--Shadow);
    border-radius: 35px;
    padding: 40px;
}
form>div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
div#posteWrap {
    display: flex;
    flex-direction: column;
}
div#posteWrap>div {
    display: flex;
}
div#firstnameWrap {
    margin-right: 20px;
    margin-bottom: 50px;
}
div#lastnameWrap {
    margin-left: 20px;
    margin-bottom: 50px;
}