table {
    background-color: white;
    box-shadow: 0px 0px 4px 0px var(--Shadow);
    border-radius: 35px;
    border-spacing: 0px;
    padding: 20px;
}
th {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}
th:not(:last-child) {
    padding-right: 35px;
}
td {    
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0px;
    text-decoration: none;
    color: black;
}
td:not(:last-child) {
    padding-right: 35px;
}
tr>td:first-child {
    transition: ease-in-out 0.25s;
    cursor: pointer;
}
tr>td:first-child:hover {
    color: var(--Beer);
}